apiVersion: v1
kind: Service
metadata:
  name: demo-app
  namespace: demo-prd
  labels:
    environment: prd  # Add here explicitly
spec:
  selector:
    app: demo-app
  ports:
  - port: 80
    targetPort: 8000
    name: http
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: demo-app-preview
  namespace: demo-prd
  labels:
    environment: prd 
spec:
  selector:
    app: demo-app
  ports:
  - port: 80
    targetPort: 8000
    name: http
  type: ClusterIP
